[submodule "firewall/lib/forge-std"]
	path = firewall/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "firewall/lib/openzeppelin-contracts"]
	path = firewall/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
